In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pers_info= pd.read_csv('Personal_information.csv')

In [3]:
pers_info

,Unnamed: 0,E-mail,First_name,Last_name,Location,Phone_number
0,0,salawuabdulbaki@gmail.com,abdulbaki,salawu,olawale yahaya bagaruwa street ilorin,9068924442
1,0,aishatmorenike1@gmail.com,Aishat,Aremu,33 Issah Williams Street Apongnon,7084283672
2,0,bisolabolomope@gmail.com,Faoziyyah,Bolomope,Oyo,9059329620
3,0,aechealgr8@gmail.com,Michael,Ajirireloja,Abuja,9076588590
4,0,samueloreoluwa4@gmail.com,Samuel,AKINLABI,Lagos,7012659092
5,0,igetheophilus02@gmail.com,theophilus,ige,Lagos,8052085331
6,0,adeyinka.statesman@gmail.com,Oyehan Adeyinka,Statesman,Dhahran,582556152

In [5]:
pers_info= pers_info.drop('Unnamed: 0', axis=1)
pers_info

,E-mail,First_name,Last_name,Location,Phone_number
0,salawuabdulbaki@gmail.com,abdulbaki,salawu,olawale yahaya bagaruwa street ilorin,9068924442
1,aishatmorenike1@gmail.com,Aishat,Aremu,33 Issah Williams Street Apongnon,7084283672
2,bisolabolomope@gmail.com,Faoziyyah,Bolomope,Oyo,9059329620
3,aechealgr8@gmail.com,Michael,Ajirireloja,Abuja,9076588590
4,samueloreoluwa4@gmail.com,Samuel,AKINLABI,Lagos,7012659092
5,igetheophilus02@gmail.com,theophilus,ige,Lagos,8052085331
6,adeyinka.statesman@gmail.com,Oyehan Adeyinka,Statesman,Dhahran,582556152